*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#box{
    background-color: lemonchiffon;
    margin: 50px;
    text-align: center;
    /* border-top-width: 0.5em;
    border-top-style: solid;
    border-top-color: red; */
    /* border-top: 0.5em solid red;
    border-bottom: 1em groove blue;
    border-left: 1em dashed yellow;
    border-right: 1em double green; */
    border: 3px solid goldenrod;
    height: 200px;
    width: 500px;
    /* border-top-right-radius: 1em 200px;
    border-top-left-radius: 1em; */
    /* border-radius: 0.5em 1em 20px 15px; */
    border-radius:  20px 50px;
    box-shadow: -20px 20px 20px 10px lightgray ;
    outline: 10px groove red;
    outline-offset: 10px;

}
